.form-lb {
    font-weight: 600;
    margin-bottom: 0;
}
.form-lb em {
    color: #dc3545;
}
.select2-container .select2-selection--single {
    height: 40px !important;
    border: 1px solid #ced4da !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-top: 4px !important;
}
.select2-container .select2-selection--multiple {
    border: 1px solid #ced4da !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #007bff !important;
    border: 1px solid #007bff !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #ddd !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #fff !important;
}
